<%- include("partials/header") -%>

<link rel="stylesheet" href="/css/pages/specie.css">


    <h1 class="Name"><%= name %></h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="description"><%= description %></p>
            </div>
            <div class="col-md-6">

                <div class="ocean-map-container">
                    <div id="map" style="height: 1850%;">
                    </div>
                </div> 

                <table>
                    <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                <tbody>
                    <tr>
                        <td>Scientific Name</td>
                        <td><%= Scientific_name %></td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td><%= weight %></td>
                    </tr>
                    <tr>
                        <td>Length</td>
                        <td><%= length %></td>
                    </tr>
                    <tr>
                        <td>Lifespan</td>
                        <td><%= lifespan %></td>
                    </tr>
                    <tr>
                        <td>Threats</td>
                        <td><%= threats %></td>
                    </tr>
                    <tr>
                        <td>Region</td>
                        <td><%= region %></td>
                    </tr>
                    <tr>
                        <td>Zinc Content in region</td>
                        <td><%= zinc_content %></td>
                    </tr>
                    <tr>
                        <td>Population Status</td>
                        <td><%= population_status %></td>
                    </tr>

                </tbody>
                </table>
            </div>
        </div>


    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/js/oceans/<%= name %>.js"></script>

<%- include("partials/footer") -%> 